@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1ffff;
  font-family: 'Quicksand', sans-serif;
}

.App > main {
  min-width: 70%;
  max-width: 1000px;
  width: 70%;
  width: clamp(70%, 70%, 1000px);
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper-h, .wrapper-v {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper-v {
  flex-direction: column;
}